<?xml version="1.0" encoding="utf-8" ?>
<configuration>
                <appSettings>
                   <add key="EPPlus:ExcelPackage:License" value="NonCommercialPersonal:ToiDay" />
                </appSettings>

                <appSettings>
                   <add key="EPPlus:ExcelPackage:License" value="NonCommercialOrganization:ToiDay" />
                </appSettings>
            
</configuration>